{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - Équipe de Football</title>
    <link rel="stylesheet" href={% static 'css/connexion.css' %}>
</head>
<body>

  <div id="form-ui">
    <form action="" method="post" id="form">
        
            {% csrf_token %}
      <div id="form-body">
        <div id="welcome-lines">
          <div id="welcome-line-1">FootTactique</div>
          <div id="welcome-line-2">Connectez vous</div>
        </div>
          {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
        <div id="input-area">
        <div class="form-inp">
    <input placeholder="Nom d'utilisateur" type="text" name="username" required>
</div>
<div class="form-inp">
    <input placeholder="Mot de passe" type="password" name="password" required>
</div>
        </div>
        <div id="submit-button-cvr">
          <button id="submit-button" type="submit">Connexion</button>
        </div>
        <div id="forgot-pass">
            <a href="{% url 'creer_compte' %}">Retour</a>
        </div>
      </div>
    </form>
    </div>
  

  


    <script src="{% static 'js/connexion.js' %}"></script>
</body>
</html>
