{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Example</title>
    <!-- Lien vers le fichier CSS externe -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#"><i class="fa fa-home logo"></i> Accueil</a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-futbol logo"></i> Equipe</a>
                    <ul class="sub-menu">
                        <li><a href="#">Créer joueur</a></li>
                        <li><a href="#">Liste joueurs</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-clipboard logo"></i> Tactique</a></li>
                <li><a href="#"><i class="fa fa-server logo"></i> Contact</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1></h1>
                <p>            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    <div id="liste-wrapper">
        <div class="liste-interactive">
            <!-- Boucle Django pour afficher les joueurs -->
            {% for joueur in joueurs %}
            <div class="liste-item" draggable="true">
                <span>{{ joueur.nomjoueur }} {{ joueur.prenomjoueur }}</span> <!-- Nom complet -->
                <span class="fa fa-plus logo-plus"></span>
                <div class="details">
                    <p>Poste : {{ joueur.refposte.nomposte }}</p> <!-- Nom du poste -->
                    <p>Rôle : {{ joueur.refrole.nomrole }}</p>   <!-- Nom du rôle -->
                </div>
            </div>
            {% endfor %}
        </div>
	</div>
    <script src="{% static 'js/listeJoueur.js' %}"></script>

    <!-- /#wrapper -->
	
    <!-- jQuery and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</body>
</html>
