{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Example</title>
    <!-- Lien vers le fichier CSS externe -->
<link rel="stylesheet" href="{% static 'css/tactique.css' %}">
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            Tactiques Pro Foot
        </div>
    
    </header>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="{% url 'accueil' %}"><i class="fa fa-home logo"></i> Accueil</a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-futbol logo"></i> Equipe</a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'joueur' %}">Créer joueur</a></li>
                        <li><a href="{% url 'liste_joueurs' %}">Liste joueurs</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'tactique' %}"><i class="fa fa-clipboard logo"></i> Tactique</a></li>
                <li><a href="#"><i class="fa fa-server logo"></i> Contact</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1></h1>
                <p>

            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    <div id="liste-wrapper">
        <div class="liste-interactive">
    {% for joueur_stat in joueurs_stats %}
        <div class="liste-item" draggable="true">
            <span>{{ joueur_stat.full_name }}</span> <!-- Affiche le nom du joueur -->
            <span class="fa fa-plus logo-plus"></span>
            <div class="details">
                {% if joueur_stat.stats %}
                    <p>Matchs : {{ joueur_stat.stats.nbmatchs }}</p>
                    <p>Buts : {{ joueur_stat.stats.buts }}</p>
                    <p>Passes décisives : {{ joueur_stat.stats.passed }}</p>
                {% else %}
                    <p>Aucune statistique disponible.</p>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>Aucun joueur trouvé.</p>
    {% endfor %}
</div>

    </div>
	<div id="container">
        <svg>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
                <feBlend in="SourceGraphic" in2="goo"></feBlend>
            </filter>
        </svg>
    </div>
    
    <template id="draggable-template">
    <div class="draggable-container">
        <span class="player-name"></span> <!-- Champ pour le nom du joueur -->
        <i class="fa-solid fa-shirt icon"></i>
        <button class="main-button">Afficher la Liste</button>
        <div class="list-container"></div>
    </div>
</template>
    <script src="{% static 'js/tactique.js' %}"></script>
    <script>
        function recupererPositionElements() {
            alert('Le bouton Sauvegarder les positions fonctionne !');
        }
    </script>
    <script>
    const items = {{ items|safe }};
    </script>


    <!-- /#wrapper -->
	
    <!-- jQuery and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</body>
</html>
